fastapi
uvicorn
python-multipart
pydantic
ollama
ffmpeg-python
moviepy
yt-dlp
scenedetect
opencv-python
youtube-transcript-api
ffmpeg
numpy
tqdm
piper-tts
srt
transformers
torch
torchvision
accelerate
pillow
bitsandbytes